{% extends "base.html" %}

{% block content %}
<main>
<h1>Admin</h1>
        <div class="box">
            <button class="button"><a class="admin-link" href="makecall">Publish Call<br>for Proposal</a></button>
        </div>
        <div class="box">
            <button class="button"><a class="admin-link" href="register">Register<br>User</a></button>
        </div>
        <div class="box">
            <button class="button"><a class="admin-link"  href="">Review<br>Reports</a></button>
        </div>
        <div class="box">
            <button class="button"><a class="admin-link"  href="review_proposal">Proposal<br>Applications</a></button>
        </div>
        <div class="box">
            <button class="button"><a  class="admin-link" href="">View User<br>Activity</a></button>
        </div>
        <div class="box">
            <button class="button"><a class="admin-link" href="">Assign Admin<br>Privileges</a></button>
        </div>
</main>
{% endblock %}
