<html>
    <head>
        {% if title %}
        <title>{{ title }} - Sesame</title>
        {% else %}
        <title>Welcome to Sesame</title>
        {% endif %}
        <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <img src="{{ img }}">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('calls') }}">Calls</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% else %}
                {% if current_user.is_admin() %}
                    <a href="{{ url_for('makecall') }}">Make Call for Proposal</a>
                {% endif %}
                <a href="{{  url_for('profile', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('workbench') }}">Workbench</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
