{% extends "base.html" %}

{% block content %}
<main>
<h1>Calls For Proposal</h1>
<ul>
    <h2>Proposal Info</h2>
    {% for entry in proposal_info %}
        <p>Name: {{ entry.name }}</p>
        <p>Deadline: {{ entry.deadline }}</p>
        <p>Text of Call: {{ entry.text_of_call }}</p>
        <p>Target Audience: {{ entry.target_audience }}</p>
        {% if not current_user.is_anonymous %}
            {% if current_user.access == 1 %}
                <a href="{{ url_for('proposal_application', id=entry.id) }}"><button>Apply</button></a>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
</main>
{% endblock %}
