{% extends "base.html" %}

{% block content %}
<main>
        <h1>Sesame Home Page</h1>
    <img class="banner" src="/static/banner.jpeg" alt="banner">
        <h2 class="news-header">Reasearch News</h2>
        <div class="news">
            <a href="http://www.sfi.ie/research-news/news/halligan-sfi-funding-2019/index.xml">
                <img src="/static/news.jpeg" alt="news">
                <div class="overlay">
                <div class="text">Minister Halligan launches new SFI Frontiers for the Future Programme   </div>
                </div>
            </a>
        </div>
        <div class="news">
            <a href="http://www.sfi.ie/research-news/news/halligan-stem-ireland/index.xml">
                <img class="img-right" src="/static/news2.jpeg" alt="news">
                <div class="overlay">
                <div class="text">€3.6 Million Invested in Projects to Promote Science, Technology, Engineering and Maths (STEM) in Ireland</div>
                </div>
            </a>
        </div>
        <div class="news">
            <a href="http://www.sfi.ie/research-news/news/humphreys-halligan-sfi/index.xml">
                <img src="/static/news3.jpeg" alt="news">
                <div class="overlay">
                <div class="text">Ministers Humphreys and Halligan announce 12 teams competing for €1 million SFI Future Innovator Prize</div>
                </div>
            </a>
        </div>
        <div class="news">
            <a href="http://www.sfi.ie/research-news/news/ministers-tida-investment/index.xml">
                <img src="/static/news4.jpeg" alt="news">
                <div class="overlay">
                <div class="text">€4.5 million investment in research commercialisation to positively impact the economy and society</div>
                </div>
            </a>
        </div>
</main>
{% endblock %}
