{% extends "base.html" %}

{% block content %}
<main>
<h1> Make Call for Proposal</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.type_of_call.label }}<br>
        {{ form.type_of_call }}<br>
        {% for error in form.type_of_call.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.deadline.label }}<br>
        {{ form.deadline(size=32) }}<br>
        {% for error in form.deadline.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.text_of_call.label }}<br>
        {{ form.text_of_call(cols=50, rows=4) }}<br>
        {% for error in form.text_of_call.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.target_audience.label }} <br>
        {{ form.target_audience(size=32) }}<br>
        {% for error in form.target_audience.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.eligibility_criteria.label }} <br>
        {{ form.eligibility_criteria(cols=50, rows=4) }}<br>
        {% for error in form.eligibility_criteria.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.reporting_guidelines.label }} <br>
        {{ form.reporting_guidelines(cols=50, rows=2) }}<br>
        {% for error in form.reporting_guidelines.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.start_date.label }} <br>
        {{ form.start_date(size=80) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
</main>
{% endblock %}
