<!DOCTYPE html>
<html lang="en">


    <head>
        <title>Profile</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css">
    </head>  
    <body>
{% extends "base.html" %}

{% block content %}
<div id="profile">
<button id="myBtn1">Education</button>
<!-- The Modal -->
<div id="myModal1" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close1">&times;</span>
<h1>Education Form</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.degree.label }}<br>
        {{ form.degree(size=100) }}<br>
        {% for error in form.degree.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.field_of_study.label }}<br>
        {{ form.field_of_study(size=100) }}<br>
        {% for error in form.field_of_study.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.institution.label }}<br>
        {{ form.institution(size=100) }}<br>
        {% for error in form.institution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=100) }}<br>
        {% for error in form..errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.year_awarded.label }}<br>
        {{ form.year_awarded(size=100) }}<br>
        {% for error in form.year_awarded.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn2">Employment</button>
<!-- The Modal -->
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close2">&times;</span>
<h1>Employment</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.institution.label }}<br>
        {{ form.institution(size=100) }}<br>
        {% for error in form.institution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=100) }}<br>
        {% for error in form.location.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.years.label }}<br>
        {{ form.years(size=32) }}<br>
        {% for error in form.years.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn3">Professional Societies</button>
<!-- The Modal -->
<div id="myModal3" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close3">&times;</span>
<h1>Professional Societies</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(size=32) }}<br>
        {% for error in form.end_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.society.label }}<br>
        {{ form.society(size=32) }}<br>
        {% for error in form.society.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.membership.label }}<br>
        {{ form.membership(size=32) }}<br>
        {% for error in form.membership.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status(size=32) }}<br>
        {% for error in form.status.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>


<button id="myBtn4">Distinctions Award</button>
<!-- The Modal -->
<div id="myModal4" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close4">&times;</span>
<h1>Distinctions Award</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}<br>
        {% for error in form.year.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.awarding_body.label }}<br>
        {{ form.awarding_body(size=32) }}<br>
        {% for error in form.awarding_body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.award_details.label }}<br>
        {{ form.award_details(size=32) }}<br>
        {% for error in form.award_details.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.member_name.label }}<br>
        {{ form.member_name(size=32) }}<br>
        {% for error in form.member_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn5">Funding</button>
<!-- The Modal -->
<div id="myModal5" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close5">&times;</span>
<h1>Funding</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(size=32) }}<br>
        {% for error in form.end_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.funding_amount.label }}<br>
        {{ form.funding_amount(size=32) }}<br>
        {% for error in form.funding_amount.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.funding_body.label }}<br>
        {{ form.funding_body(size=32) }}<br>
        {% for error in form.funding_body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.fudning_programme.label }}<br>
        {{ form.fudning_programme(size=32) }}<br>
        {% for error in form.fudning_programme.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.status.label }}<br>
        {{ form.status(size=32) }}<br>
        {% for error in form.status.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn6">Team Members</button>
<!-- The Modal -->
<div id="myModal6" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close6">&times;</span>
<h1>Team Members</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.departure_date.label }}<br>
        {{ form.departure_date(size=32) }}<br>
        {% for error in form.departure_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.position_in_team.label }}<br>
        {{ form.position_in_team(size=32) }}<br>
        {% for error in form.position_in_team.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn7">Impacts</button>
<!-- The Modal -->
<div id="myModal7" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close7">&times;</span>
<h1>Impacts</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(size=32) }}<br>
        {% for error in form.category.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_beneficiary.label }}<br>
        {{ form.primary_beneficiary(size=32) }}<br>
        {% for error in form.primary_beneficiary.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn8">Inovation</button>
<!-- The Modal -->
<div id="myModal8" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close8">&times;</span>
<h1>Inovation</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}<br>
        {% for error in form.year.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.innovation_type.label }}<br>
        {{ form.innovation_type(size=32) }}<br>
        {% for error in form.innovation_type.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn9">Publications</button>
<!-- The Modal -->
<div id="myModal9" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close9">&times;</span>
<h1>Publications</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}<br>
        {% for error in form.year.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.publication_type.label }}<br>
        {{ form.publication_type(size=32) }}<br>
        {% for error in form.publication_type.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.journal_name.label }}<br>
        {{ form.journal_name(size=32) }}<br>
        {% for error in form.journal_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status(size=32) }}<br>
        {% for error in form.status.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.doi.label }}<br>
        {{ form.doi(size=32) }}<br>
        {% for error in form.doi.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn10">Presentations</button>
<!-- The Modal -->
<div id="myModal10" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close10">&times;</span>
<h1>Presentations</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}<br>
        {% for error in form.year.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.event_type.label }}<br>
        {{ form.event_type(size=32) }}<br>
        {% for error in form.event_type.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.organising_body.label }}<br>
        {{ form.organising_body(size=32) }}<br>
        {% for error in form.organising_body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=32) }}<br>
        {% for error in form.location.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn11">Academic Collaborations</button>
<!-- The Modal -->
<div id="myModal11" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close11">&times;</span>
<h1>Academic Collaborations</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(size=32) }}<br>
        {% for error in form.end_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.institution.label }}<br>
        {{ form.institution(size=32) }}<br>
        {% for error in form.institution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.department.label }}<br>
        {{ form.department(size=32) }}<br>
        {% for error in form.department.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=32) }}<br>
        {% for error in form.location.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborator.label }}<br>
        {{ form.collaborator(size=32) }}<br>
        {% for error in form.collaborator.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborator_goal.label }}<br>
        {{ form.collaborator_goal(size=32) }}<br>
        {% for error in form.collaborator_goal.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.interaction_freq.label }}<br>
        {{ form.interaction_freq(size=32) }}<br>
        {% for error in form.interaction_freq.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn12">Non Academic Collaborations</button>
<!-- The Modal -->
<div id="myModal12" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close12">&times;</span>
<h1>Non Academic Collaborations</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(size=32) }}<br>
        {% for error in form.end_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.institution.label }}<br>
        {{ form.institution(size=32) }}<br>
        {% for error in form.institution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.department.label }}<br>
        {{ form.department(size=32) }}<br>
        {% for error in form.department.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=32) }}<br>
        {% for error in form.location.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborator.label }}<br>
        {{ form.collaborator(size=32) }}<br>
        {% for error in form.collaborator.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.collaborator_goal.label }}<br>
        {{ form.collaborator_goal(size=32) }}<br>
        {% for error in form.collaborator_goal.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.interaction_freq.label }}<br>
        {{ form.interaction_freq(size=32) }}<br>
        {% for error in form.interaction_freq.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn13">Conferences</button>
<!-- The Modal -->
<div id="myModal13" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close13">&times;</span>
<h1>Conferences</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(size=32) }}<br>
        {% for error in form.end_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.event_type.label }}<br>
        {{ form.event_type(size=32) }}<br>
        {% for error in form.event_type.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.role.label }}<br>
        {{ form.role(size=32) }}<br>
        {% for error in form.role.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(size=32) }}<br>
        {% for error in form.location.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn14">Communications</button>
<!-- The Modal -->
<div id="myModal14" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close14">&times;</span>
<h1>Communications</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}<br>
        {% for error in form.year.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.number_lectures.label }}<br>
        {{ form.number_lectures(size=32) }}<br>
        {% for error in form.number_lectures.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.number_visits.label }}<br>
        {{ form.number_visits(size=32) }}<br>
        {% for error in form.number_visits.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.number_media.label }}<br>
        {{ form.number_media(size=32) }}<br>
        {% for error in form.number_media.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn15">Funding Ratio</button>
<!-- The Modal -->
<div id="myModal15" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close15">&times;</span>
<h1>Funding Ratio</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}<br>
        {% for error in form.year.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
    p>
        {{ form.annual_spend.label }}<br>
        {{ form.annual_spend(size=32) }}<br>
        {% for error in form.annual_spend.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>

<button id="myBtn16">Public Engagement</button>
<!-- The Modal -->
<div id="myModal16" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close16">&times;</span>
<h1>Public Engagement</h1>
<form action ="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
        {% for error in form.start_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(size=32) }}<br>
        {% for error in form.end_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.activity_type.label }}<br>
        {{ form.activity_type(size=32) }}<br>
        {% for error in form.activity_type.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.topic.label }}<br>
        {{ form.topic(size=32) }}<br>
        {% for error in form.topic.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.target_area.label }}<br>
        {{ form.target_area(size=32) }}<br>
        {% for error in form.target_area.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.primary_attribution.label }}<br>
        {{ form.primary_attribution(size=32) }}<br>
        {% for error in form.primary_attribution.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.submit()}}</p>
</form>
</div>
</div>
</div>
{% endblock %}
</body>
<script src="myscripts.js"></script>
</html>