{% extends "base.html" %}

{% block content %}
<main>
    <h1>User: {{  user.username }}</h1>
    <table>
        <tr valign=""top>
            <td>
                {%  if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{%  endif %}
                <p>Email: {{ user.email }}</p>
            </td>
        </tr>
    </table>
    {%  if user == current_user %}
    <a class="edit" href="{{  url_for('edit_profile') }}"><i class="material-icons">mode_edit</i></a>

    {% endif %}
</main>
{% endblock %}
