{% extends "base.html" %}

{% block content %}
<main>
<h1>Reviewer</h1>
<div class="admin">
    <ul>
        <a class="admin-link" href="{{ url_for('review_applications') }}">
        <div class="box">
            <button class="button">Review<br>Applications</button>
        </div>
        </a>
        <a class="admin-link" href="{{ url_for('review_reports') }}">
        <div class="box">
            <button class="button">Review<br>Reports</button>
        </div>
        </a>
    </ul>
</div>
</main>
{% endblock %}
