body {font-family: Arial, Helvetica, sans-serif;}

a {
    float:right;
    background-color: #00A79A;
    color: white;
    padding: 2em 3em;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    
}

a:hover{
    background-color: white;
    color: #00A79A;
}

header {
    float:left;
}

input[type=text], input[type=password],input[type=number],select {
  width: 25%;
  padding:.5em;
  text-align:center;
  margin:.5em 0em .5em 0em;
  display:block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #00A79A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

main {
    display: block;
    padding-top:5em;
}

ul {
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

form {
	margin: 1em;
	padding: 1em;
}

form select {
	width: 20%;
	cursor: pointer;
	float: left;
	margin: 0.5em;
	padding: 14px 20px;
}

form button {
	width: 10%;
}

.workbench li {
    float:left;
    display: block;
    color:white;
    padding:1em;
    font-size: 1.5em;
    margin: 8px 0;
    padding: 12px 20px;
}


.workbench ul {
    float: left;
    background-color: #e5e5e5;
    list-style-type: none;
    width:20%;
    padding-top:2em;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 25%;
    top: 0;
    width: 50%; 
    height: 50%%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
 
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15,.close16 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15,.close16:hover,
  .close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15,.close16:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
#myBtn1,#myBtn2,#myBtn3,#myBtn4,#myBtn5,#myBtn6,#myBtn7,#myBtn8,#myBtn9,#myBtn10,#myBtn11,#myBtn12,#myBtn13,#myBtn14,#myBtn15,#myBtn16 {
  background-color: #00A79A;
  color: white;
  display: inline;
  padding: 2em 2em;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
      
}
#myBtn1:hover,#myBtn2:hover,#myBtn3:hover,#myBtn4:hover,#myBtn5:hover,#myBtn6:hover,#myBtn7:hover,#myBtn8:hover,#myBtn9:hover,#myBtn10:hover,#myBtn11:hover,#myBtn12:hover,#myBtn13:hover,#myBtn14:hover,#myBtn15:hover,#myBtn16:hover {
    background-color: #e5e5e5;
    color: #00A79A;
}

#profile {
    text-align: center;
    margin:auto;
}

.container {
    width: 70%;
    height: 200px;
    border-top: 1px solid #00A79A;
    margin: 1em;
    padding: 10px;
    float: left;
}

.summary {
    width: 55%;
    height: 200px;
    float: left;
}

.details {
    margin-left: 10%;
    height: 200px;
    float: left;
}
