body {font-family: Arial, Helvetica, sans-serif;}

nav a{
    float:right;
    background-color: #00A79A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    
}

header {
    float:left;
}

input[type=text], input[type=password],input[type=number],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #00A79A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

main {
    display: block;
    padding-top:5em;
}

ul {
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

form {
	margin: 1em;
	padding: 1em;
}

form select {
	width: 20%;
	cursor: pointer;
}

form button {
	width: 10%;
}

.summary {
	border-top: 1px solid #00A79A;
	margin: 1em;
	padding: 1em;
	width: 50%;
	float: left;
}



.details {
	border-top: 1px solid #00A79A;
	margin: 1em;
	padding: 1em;
	width: 40%;
	float: left;
}
