.logo {
   margin-left:40%;
    display:inline;
}
nav {
    background-color:#343A40;
    float:left;
    width:10%;
    height:100%;
    overflow-x: hidden;
    position: absolute;
}

.nav-item {
    text-align:center;
    border-bottom:.1em #e5e5e5 solid;
    padding: 1em 0em;
    color:white;
}

.nav-link {
    font-size:1em;
    color:white;
}


main {
    display:block;
    padding-left:20em;
}

.banner {
    height: 40em;
    width: 90%;
    margin-bottom:3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Georgia, Times, serif;
}
p, div, a {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
.calls p {
    display:inline-block;
    margin-left: 1em;
}

[type=submit] {
    background-color: #00A79A;
    border: none;
    padding: 1em 2em;
    text-decoration: none;
    cursor: pointer;
}

.submit {
    margin-top: 2em;
}
select {
    padding: 1em 2em;
    border: none;
    border-radius: .1em;
    background-color: #f1f1f1;
  }

  .container {
      margin-top: 10em;
      display:block;
  }

  input[type=text],input[type=password] {
    padding: .5em 2em;
    box-sizing: border-box;
  }

  input[type=text]:focus,input[type=password]:focus{
    border: 3px solid #555;
  }

  .box {
      min-width: 20em;
      margin:10em 6em 0em 3em;
      padding:0em;
      display:inline-block;
      text-decoration: none;
      list-style: none;
  }

  .button {
    min-width: 20em;
    padding:4em 6em 4em 4em;
    background-color:#00A79A;
    color:white;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
  }

  .button:hover {
      border:.5em #e5e5e5 solid;
      font-size: 1em;
  }
 .admin-link, .admin-link:hover, .admin-link:active, .admin-link:visited  {
      color:white;
      text-decoration: none;
  }

  .material-icons {
    font-size:2em;
    float:right;
    margin-right:5em;
  }

  .social {
      float:right;
      margin-left:80%;
      position: fixed;
      bottom: 0;
      width: 50%;
  }

  .fa {
    padding:1em;
    font-size: 1.2em;
    height:3em;
    width: 3em;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .work-button {
    margin:1em 1em 1em 0em;
    min-width: 28em;
    padding:4em 6em 4em 4em;
    background-color:#00A79A;
    color:white;
    transition: all 0.5s;
    text-align: center;
    cursor: pointer;
  }

  .work-button:hover {
      border:.5em #e5e5e5 solid;
      font-size: 1em;
  }

  a,a:hover, a:focus, a:active {
    text-decoration: none;
    color: #6f6f6f;

  }
  a:hover {
    font-weight: bold;
  }
