body {font-family: Arial, Helvetica, sans-serif;}

a {
    float:right;
    background-color: #00A79A;
    color: white;
    padding: 2em 3em;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;

}

a:hover{
    background-color: white;
    color: #00A79A;
}

header {
    float:left;
}

input[type=text], input[type=password],input[type=number],select {
  width: 25%;
  padding:.5em;
  text-align:center;
  margin:.5em 0em .5em 0em;
  display:block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #00A79A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

main {
    display: block;
    padding-top:5em;
}

ul {
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

form {
	margin: 1em;
	padding: 1em;
}

form select {
    width: 100%;
	cursor: pointer;
	float: left;
	margin: 0.5em;
	padding: 14px 20px;
}

#submit {
	float: left;
    background-color: #00A79A;
    color: white;
    margin: 1.85em 0.5em;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}

#submit:hover{
    background-color: white;
    color: #00A79A;
}

#calls p {
    width: 20%;
    float: left;
    margin: 0.5em;
}

form button {
	width: 10%;
}

.workbench {
    margin:1em;
    width:25%;
    height:100%;
    background-color: #e5e5e5;
    float:left;

}
.workbench a {
    display: block;
    border-bottom: 1em white solid;
    border-radius: .1em;
    color:#00A79A;
    padding:1em;
    font-size: 1.5em;
    margin: 8px 0;
    padding: 12px 20px;
}


.workbench ul {
    float: left;
    background-color: #e5e5e5;
    list-style-type: none;
    width:20%;
    padding-top:2em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }


  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15,.close16 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15,.close16:hover,
  .close1,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9,.close10,.close11,.close12,.close13,.close14,.close15,.close16:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#myBtn1,#myBtn2,#myBtn3,#myBtn4,#myBtn5,#myBtn6,#myBtn7,#myBtn8,#myBtn9,#myBtn10,#myBtn11,#myBtn12,#myBtn13,#myBtn14,#myBtn15,#myBtn16 {
  background-color: #00A79A;
  color: white;
  display: inline;
  padding: 2em 2em;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;

}
#myBtn1:hover,#myBtn2:hover,#myBtn3:hover,#myBtn4:hover,#myBtn5:hover,#myBtn6:hover,#myBtn7:hover,#myBtn8:hover,#myBtn9:hover,#myBtn10:hover,#myBtn11:hover,#myBtn12:hover,#myBtn13:hover,#myBtn14:hover,#myBtn15:hover,#myBtn16:hover {
    background-color: #e5e5e5;
    color: #00A79A;
}

#profile {
    text-align: center;
    margin:auto;
}

.container {
    width: 70%;
    height: 200px;
    border-top: 1px solid #00A79A;
    margin: 1em;
    padding: 10px;
    float: left;
}

.summary {
    width: 55%;
    height: 200px;
    float: left;
}

.details {
    margin-left: 10%;
    height: 200px;
    float: left;
}

#admin li {
    width: 25%;
    float:left;
    display: block;
    color:white;
    font-size: 1.5em;
    margin: 8px 0;
    padding: 12px 20px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
    margin: 8px 0;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  background-color: #00A79A;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
    color: #00A79A;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00A79A;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    border: none;
    margin: 0;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
    color: #00A79A;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.admin {
    margin:1em;

}
.admin li {
    float: left;
    color:white;
    font-size: 1.5em;
    margin: 8px 0;
    padding: 12px 20px;
    width: 25%;
}

.admin a {
    width: 100%;
    text-align: center;
}

.admin ul {
    list-style-type: none;
    width: 60%;
}