.logo {
   margin-left:40%;
    display:inline;
}
nav {
    display:inline;
    float:left;
    width:10%;
    min-height: 60em;
}

.nav-item {
    text-align:center;
    border-bottom:.1em #e5e5e5 solid;
    padding: 1em 0em;
}

.nav-item:hover {
   font-size: 1.2em;

}

.nav-link {
    font-size:1em;
    color:white;
}


main {
    display:block;
    padding-left:20em;
}

.banner {
    height: 20em;
    width: auto;
    margin:10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Georgia, Times, serif;
}
p, div, a {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
.calls p {
    display:inline;
    float:left;
    margin-left: 1em;
}

[type=submit] {
    background-color: #00A79A;
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    cursor: pointer;
}

.submit {
    margin-top: 2em;
}
select {
    padding: 1em 2em;
    border: none;
    border-radius: .1em;
    background-color: #f1f1f1;
  }

  .container {
      margin-top: 10em;
      display:block;
  }

  input[type=text],input[type=password] {
    padding: .5em 2em;
    box-sizing: border-box;
  }

  input[type=text]:focus,input[type=password]:focus{
    border: 3px solid #555;
  }