{% extends "base.html" %}

{% block content %}
<h1>Proposal Calls</h1>
<form action ="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.deadline_type.label }}<br>
		{{ form.deadline_type }}<br>
		{% for error in form.deadline_type.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.call_type.label }}<br>
		{{ form.call_type }}<br>
		{% for error in form.call_type.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</p>
</form>
<ul>
    {% for call in calls %}
    <li>
		<div class = "summary">
			<h2>{{ call.heading }}</h2>
			<p>
				{{ call.info }}
			</p>
			<a href="application.html">Read More</a>
		</div>
		<div class = "details">
			<p>
				Deadline: {{ call.deadline }}<br />
				Award Amount: {{ call.award }}<br />
				Duration: {{ call.duration }}<br />
			</p>
		</div>
	</li>
    {% endfor %}
</ul>
{% endblock %}
